.container{
    height: 100px;
    display: flex;
    margin-left: 50px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
}
.logo{
  font-size: 30px;
  font-weight: bold;
}